<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Simple.css-->
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

        <title>Django to-do app</title>
    </head>

    <body>
        <div class="">
            <a href="{% url 'index' %}">
                <h1>Django Todo lists</h1>
            </a>

        </div>

        <div class="">
            {% block content %}
            This content will be replaced by different html code for each page.
            {% endblock content %}
        </div>
    </body>

</html>