@use './colors' as col;
@use './responsive' as responsive;

%align-center {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: col.$very-medium-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem calc((100vw - 1200px) / 2);
    z-index: 10;
    position: relative;

    &__logo {
        color: col.$dark-navy-blue;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        @extend %align-center;
    }

    &__bars {
        opacity: 0;

        @include responsive.breakpoint-down(medium) {
            color: col.$dark-navy-blue;
            opacity: 1;
            position: absolute;
            top: 0.5rem;
            right: 1.25rem;
            font-size: 2rem;
        }

    }

    &__menu {
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin: 1rem 1.5rem 1rem 0;

        @include responsive.breakpoint-down(medium) {
            display: none;
        }

        &--links {
            color: col.$dark-navy-blue;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;


            &:hover {
                color: black;
                transition: all 0.3s ease;
            }
        }

        #signUp {
            padding: 0.75rem 1.5rem;
            border: none;
            outline: none;
            border-radius: 0.375rem;
            background-color: col.$megentaish-red;
            margin-left: 1rem;
            color: col.$dark-navy-blue;


            &:hover {
                background: black;
                color: col.$lavender;
            }
        }

    }
}